out/
target/
project/target
docs/generated
docs-target/
*.fir
*.v
*.anno.json
.addons-dont-touch
/lib/
/test_lib/
/testbuild/
vcode-rocc.jar

# LSP stuff
.bloop
.metals
/project

# Emacs temporary files
## Autosave files
.\#*
## Backup files
*~

# Vim temporary files
*.swp